{% extends "base.html" %}

 {% block content %}
 
   <div class="content-center-1">
      <div class="">
      <p class="info">中心介绍</p>
      <br />   
      	<p>&nbsp&nbsp&nbsp&nbsp北京交通大学“智能系统及再生能源研究中心” 成立于2009年9月，由国家“千人计划”特聘专家宋永端教授领衔创建。在学校、学院各级领导的大力支持和关怀下，在团队老师和同学的共同努力下，“中心”正朝着预期的目标稳步前进。目前“中心”拥有教学科研人员8名，其中教授2名，副教授2名，讲师4名，在读硕博研究生近50名。值“中心”成立周年纪念之际，我们将过去一年来“中心”取得的一些成绩及开展的主要工作做个简要汇报，旨在回顾总结经验，肯定成绩，审视不足，争取更大进步。</p>
        <p>&nbsp&nbsp&nbsp&nbsp智能系统领域：以“仿生系统理论与工程”学科为主线，将智能系统技术应用于复杂工程系统中，主要研究方向包括：“高速列车主动安全控制”、“无人车智能驾驶”、“智能迎宾机器人”、“无人战车演示平台”，“系统容错控制”，“网络控制系统”，“电力系统智能化”等。</p>
			  <p>&nbsp&nbsp&nbsp&nbsp再生能源领域：围绕国家“十二五”能源发展规划，结合国外先进技术并面向国产化需求，探索再生能源系统及其优化调度，主要研究方向包括：“太阳能光伏发电系统优化”，“风电系统控制与监测”，“智能电网及容错监控系统”，“多能源电力系统安全高效利用”等。</p>
			  <p>&nbsp&nbsp&nbsp&nbsp通过四年成长，“中心”已经产生了一批高质量学术成果，并成功获批了包括973计划、863计划、国家自然科学基金重点、面上、青年基金等在内的多项国家级科研项目，为“中心”的可持续健康发展打下了坚实基础。</p>
			  <p>&nbsp&nbsp&nbsp&nbsp在科研方面，过去一年，“中心”依托“国家自然科学基金重点项目”和“科技部973重大基础研究项目”和“科技部863重大基础研究项目”支持，重点围绕“高速列车主动安全控制的关键基础研究”、“智能电网中大规模新能源电力安全高效利用基础研究”及“大型海上超导风电监测与控制”这三个重点课题开展相关研究工作。“中心”进一步和多家企事业单位建立战略联盟,将理论成果向工程应用转化，完成了国电联合动力技术有限公司委托的“基于Bladed的差动齿箱调速电网友好型同步风电机组控制系统设计及开发”项目研发。过去一年,“中心”学术研究和工程开发方面都取得了丰硕成果。中心四年来总论文数100余篇，其中SCI论文37篇，EI核心论文21篇，国际会议47篇，专著3部，专利7项。</p>
			  <p>&nbsp&nbsp&nbsp&nbsp在人才培养方面，目前“中心”硕士、博士研究生总人数达 54人，其中硕士生 47 人，博士生 7 人，今年九月入学硕士、博士研究生共14人。已经培养了一批优秀的毕业生，去年共毕业10名硕士研究生，1人获得校优秀硕士论文奖，5人获得校基金资助。</p>          
          <br />   
      </div>
   </div>
   
 {% endblock %}