{% extends "base.html" %}
{% block title %}contact{% endblock %}
{% block content %}

	<div class="body">
		<div class="gallery">
			<div>
				<h2>Gallery</h2>
				<div>
					<span>Sort By:</span>
					<ul>
						<li class="selected">
							<a href="#">View All</a> |
						</li>
						<li>
							<a href="#">Images</a> |
						</li>
						<li>
							<a href="#">Videos</a>
						</li>
					</ul>
				</div>
				<div class="paging">
					<span>Page 1 of 2</span>
					<ul>
						<li>
							<a href="#" class="prev">prev</a>
						</li>
						<li class="selected">
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">2</a>
						</li>
						<li>
							<a href="#" class="next">next</a>
						</li>
					</ul>
				</div>
			</div>
			<ul>
				<li>
					<a href="gallery-details.html"><img src="/static_file/images/gallery-photo1.jpg" alt=""></a>
					<h4><a href="gallery-details.html">Photo Title one</a></h4>
					<p>
						This website template has been collect from Free Website Templates for you, for free.
					</p>
				</li>
				<li>
					<a href="gallery-details.html"><img src="/static_file/images/gallery-video1.jpg" alt=""></a>
					<h4><a href="gallery-details.html">Video Title one</a></h4>
					<p>
						You can replace all this text with your own text. You can remove any link to our website,
					</p>
				</li>
				<li>
					<a href="gallery-details.html"><img src="/static_file/images/gallery-photo2.jpg" alt=""></a>
					<h4><a href="gallery-details.html">Photo Title Three</a></h4>
					<p>
						From this website template, you're free to use this website template without linking back to us.
					</p>
				</li>
				<li>
					<a href="gallery-details.html"><img src="/static_file/images/gallery-video2.jpg" alt=""></a>
					<h4><a href="gallery-details.html">Video Title Three</a></h4>
					<p>
						If you're having problems editing this website template. Then don't hesitate to ask for help on the Forums.
					</p>
				</li>
				<li>
					<a href="gallery-details.html"><img src="/static_file/images/gallery-photo3.jpg" alt=""></a>
					<h4><a href="gallery-details.html">Photo Title Two</a></h4>
					<p>
						Proin vitae adipiscing arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</p>
				</li>
				<li>
					<a href="gallery-details.html"><img src="/static_file/images/gallery-video3.jpg" alt=""></a>
					<h4><a href="gallery-details.html">Video Title Two</a></h4>
					<p>
						Proin vitae adipiscing arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</p>
				</li>
				<li>
					<a href="gallery-details.html"><img src="/static_file/images/gallery-photo4.jpg" alt=""></a>
					<h4><a href="gallery-details.html">Photo Title Four</a></h4>
					<p>
						Proin vitae adipiscing arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</p>
				</li>
				<li>
					<a href="gallery-details.html"><img src="/static_file/images/gallery-video4.jpg" alt=""></a>
					<h4><a href="gallery-details.html">Video Title Four</a></h4>
					<p>
						Ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</p>
				</li>
			</ul>
		</div>
	</div>
	
	{% endblock %}